[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
google-api-python-client = "*"
google-auth-httplib2 = "*"
google-auth-oauthlib = "*"
sqlalchemy = "*"
openpyxl = "*"
pandas = "*"
pytest = "*"
oauth2client = "*"

[dev-packages]

[requires]
python_version = "3.12"

[scripts]
clingy = "env PYTHONPATH=${PYTHONPATH}:${PWD} python src/main.py"
