[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
google-api-python-client = "==2.145.0"
google-auth-httplib2 = "==0.2.0"
google-auth-oauthlib = "==1.2.1"
sqlalchemy = "*"
openpyxl = "*"
pandas = "*"
pytest = "*"
oauth2client = "*"
pylint = "*"

[dev-packages]

[requires]
python_version = "3.12"

[scripts]
clingy = "env PYTHONPATH=${PYTHONPATH}:${PWD} python src/main.py"
